{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title%}
{{ block.super }} - {{ startup.name }}
{% endblock %}

{% block content %}
<article>
    <h2>{{ startup.name }}            <a href="{{startup.get_update_url}}"><button class="btn btn-primary btn-sm" type = "submit">
                    Edit Startup</button></a></h2>
    <di>
        <dt> Date Founded</dt>
        <dd>{{ startup.founded_date|date:"F jS, Y" }}</dd>   {# full moth, date + st or th, year #}
        <dt>Website</dt>
        <dd>{{ startup.website|urlize }}</dd>
        <dt>Contact</dt>
        <dd>{{ startup.contact_email }}</dd>
        <dt>Tag{{ startup.tags.count|pluralize }}</dt>
        {% for tag in startup.tags.all %}
            <dd><a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
            </a></dd>
        {% endfor %}

    </di>

<p>{{ startup.description|linebreaks}}</p>

<section>
    <h3>Recent News</h3>

{% if startup.newslink_set.all %}
    <u1>
        {% for newslink in startup.newslink_set.all %}
        <li>
            {{ newslink.link|urlize }}
                <a href="{{newslink.get_update_url}}">
            <button class="btn btn-primary btn-sm" onclick = "">
                    Edit Link</button>
                    <a href="{{ newslink.get_delete_url}}">
            <button class="btn btn-primary btn-sm" onclick = "">
                    Delete Link</button>
        </a>
        </li>
        {% endfor %}
    </u1>
{% endif %}

    <p>

                <a href="{% url 'organizer_newslink_create' %}">
            <button class="btn btn-primary btn-sm" onclick = "">
                    Add New Link</button>
        </a>
    </p>
</section>
<section>
{% if startup.blog_posts.all%}
<p>
    <h3>Blog Post{{ startup.blog_post.all|pluralize }}</h3>
    <u1>
        {% for post in startup.blog_posts.all %}
            <li>
            <a href="{{post.get_absolute_url}}">{{ post.title|title }}</a>
            </li>
        {% endfor %}
    </u1>
</p>
{% endif%}
</section>

</article>
{% endblock %}