{% extends parent_template|default:"organizer/base_organizer.html" %}
{% load crispy_forms_filters %}
{% block title%}
{{ block.super }} - Update Tag
{% endblock %}

{% block content %}
    <div>
        <div>
            <form
                action="{{tag.get_update_url}}"
                method = "post">
                {% csrf_token%}
                {{form|crispy}}
                <button class="btn btn-primary btn-sm" type = "submit">
                    Update Tag</button>
            </form>
        </div>
    </div>
{% endblock %}